[submodule "hello-world/hello-world/paceCParser"]
	path = hello-world/hello-world/paceCParser
	url = https://github.com/dsu-arl/paceCParser
[submodule "hello-world/knowledge-check/paceCParser"]
	path = hello-world/knowledge-check/paceCParser
	url = https://github.com/dsu-arl/paceCParser
